<section class="pt-8 md:pt-20">
  <h1
    class="text-center text-neutral-500 font-bold text-3xl md:text-5xl mb-10 md:mb-32"
  >
    Investor Relations
  </h1>
  <div class="flex flex-col gap-6 md:gap-28">
    <div class="flex flex-col items-center justify-between md:flex-row">
      <div class="p-6 md:p-0 md:ml-36 lg:ml-72 md:w-[558px]">
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-5xl mb-6 md:mb-8"
        >
          The Ecosystem
        </h2>
        <ol class="list-disc md:ml-10">
          <li>
            Emerging Economies are facing a massive infrastructure shortage
            combined with high population growth
          </li>
          <li>
            Massive revenue losses for electricity and water - 20% average
          </li>
          <li>
            Without reliable revenue collection, new investments in
            infrastructure is hampered and prices increase
          </li>
          <li>Smart Metering is the solution to many of these problems</li>
          <li>
            However, traditional Smart Meters are too expensive for
            low-consuming households - power bills average only $14/month In
            Kenya, the Economic Survey 2022 released on Thursday by the Kenya
            National Bureau of Statistics (KNBS) shows transmission and
            distribution losses hit 2,831 gigawatt-hours (GWh) last year which
            was 22.8% of the total electricity produced in 2021. (Source: KNBS)
          </li>
        </ol>
      </div>

      <div class="">
        <img
          src="../../../../../assets/imgs/biz-daily.webp"
          alt="Business day"
        />
      </div>
    </div>

    <div
      class="bg-gray-100 py-7 md:py-20 flex flex-col items-center justify-between md:flex-row"
    >
      <div class="">
        <img src="../../../../../assets/imgs/nation.webp" alt="Nation news" />
      </div>
      <div class="p-6 md:p-0 md:mr-36 lg:mr-72 md:w-[558px] space-y-6">
        <p class="text-black">
          In other research, Data for the study obtained by extraction of
          consumption records for 878 consumers from Kenya Power’s Integrated
          Customer System (ICS) in Kapsoya Estate, Uasin Gishu County, North
          Rift Region of Kenya Power, for a period of 6 months (3 months before
          introduction of Automatic Metering Infrastructure and 3 months after
          introduction of the same). Extra data was extracted from the 22 meters
          used to ring fence the secondary distribution transformers. Results
          obtained show that there is substantial improvement in distribution
          system efficiency, from 75.16% before integration of Automatic
          Metering Infrastructure to 90.22% after introduction of automatic
          metering infrastructure. Based on this finding, Kenya Power can
          utilize its Automatic Meter Reading (AMR) system to ring fence both
          the distribution feeder lines and transformers to reduce commercial
          losses. (Source: Nick Thomas Kibor 2017)
        </p>
        <div class="space-y-2">
          <p class="text-black">Current Metering has Serious Shortcomings</p>
          <ul class="list-disc ml-5">
            <li>
              Can be tampered or bypassed without detection by power company
            </li>
            <li>Meters are completely off-line</li>
            <li>Offer no consumption data - no “smart grid” functionality</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-between md:flex-row">
      <div class="p-6 md:p-0 md:ml-36 lg:ml-72 md:w-[558px]">
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-4xl mb-6 md:mb-8"
        >
          The Solution: Pulse SmartGrid
        </h2>

        <ol class="list-decimal space-y-5 ml-5 md:ml-10">
          <li class="font-bold md:text-3xl">
            Hardware
            <ul class="list-disc md:text-base font-normal">
              <li>Complete Hardware and Software Solution</li>
              <li>Extreme Cost Effectiveness</li>
              <li>Transaction Business Model</li>
              <li>IoT Banking</li>
            </ul>
          </li>
          <li class="font-bold md:text-3xl">Cloud/AI</li>
          <li class="font-bold md:text-3xl">
            App
            <div class="flex items-center gap-10">
              <ul class="list-disc md:text-base font-normal">
                <li>Networked</li>
                <li>Autonomous</li>
                <li>Independent</li>
                <li>Resilient</li>
              </ul>
              <ul class="list-disc md:text-base font-normal">
                <li>Cost effective</li>
                <li>Instant</li>
                <li>Real-time</li>
                <li>Transparent</li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
      <div class="">
        <img
          src="../../../../../assets/imgs/landlord.webp"
          alt="Apartment building"
        />
      </div>
    </div>

    <div
      class="bg-gray-100 py-7 px-6 md:px-36 lg:px-72 md:py-20 flex flex-col items-center justify-between md:flex-row"
    >
      <div class="">
        <img src="../../../../../assets/imgs/pulse-app.webp" alt="Pulse App" />
      </div>
      <div class="p-6 md:p-0 md:w-[650px] space-y-6">
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-4xl mb-6 md:mb-8"
        >
          Pulse App: One-Stop Utility payments
        </h2>
        <div class="space-y-2">
          <ul class="list-disc ml-5">
            <li>Power, Water, Gas, Rent</li>
            <li>
              Direct payment using mobile money, credit cards or bank transfer
            </li>
            <li>Customer balance and consumption graphs</li>
            <li>Top-up electricity for others</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Cta -->
    <div
      id="cta"
      class="grid grid-cols-1 place-content-center justify-items-center text-center md:gap-20 bg-sky-600 bg-cover bg-center md:w-[1300px] lg:w-[1630px] md:self-end md:h-[433px] md:rounded-tl-[230px] md:flex-row p-9 px-6 md:px-36 lg:px-72"
      style="background-image: url('../../../assets/imgs/cta-bg.svg')"
    >
      <h1
        class="text-white text-center text-2xl font-bold md:text-5xl md:text-start"
      >
        Interested? Get in touch.
      </h1>

      <div
        class="flex items-center justify-center gap-3 rounded-[35px] bg-white md:h-16 md:w-[328px] p-3 mt-4 hover:cursor-pointer"
      >
        <p class="md:text-2xl font-bold text-blue-900">Join Us</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-blue-900"
        >
          <path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>
