<ng-container *ngIf="login; else signIn">
  <div
    class="py-20 md:py-0 w-screen flex items-center justify-between flex-wrap md:flex-nowrap gap-6"
  >
    <div
      class="bg-white md:w-[500px] mx-auto flex flex-col items-center justify-center"
    >
      <img
        class="w-40 mb-8"
        src="../../assets/imgs/logo-1.png"
        alt="Pulse logo"
      />
      <p class="text-neutral-500 font-bold text-xl md:text-2xl md:mb-16">
        Log In
      </p>

      <form class="space-y-4 w-full">
        <input
          type="text"
          name="name"
          placeholder="Email"
          class="bg-gray-50 p-4 rounded-xl w-full appearance-none outline-none mt-4"
        />
        <div
          class="flex items-center justify-between rounded-xl bg-gray-50 p-4"
        >
          <input
            [type]="show ? 'text' : 'password'"
            name="password"
            placeholder="Please enter your password"
            class="bg-transparent appearance-none outline-none"
          />
          <ng-container *ngIf="show; else hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              class="w-6 h-6 stroke-neutral-500 hover:cursor-pointer"
              (click)="togglePwd()"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </ng-container>

          <ng-template #hidden>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              class="w-6 h-6 stroke-neutral-500 hover:cursor-pointer"
              (click)="togglePwd()"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
              />
            </svg>
          </ng-template>
        </div>
        <p class="text-end text-neutral-500 text-sm">Forgot password?</p>
        <div
          class="text-center bg-blue-900 text-white rounded-full w-full py-4"
          (click)="toggleLogin()"
        >
          Log in
        </div>
        <p class="text-center text-neutral-500 text-sm">
          Don't have an account yet?
          <span class="underline hover:cursor-pointer" (click)="toggleAcc()"
            >Sign up</span
          >
        </p>
      </form>
    </div>
    <div class="bg-blue-900 hidden md:block md:w-1/2">
      <img src="../../assets/imgs/bulb-or.svg" alt="Illustration with bulb" />
    </div>
  </div>
</ng-container>
<ng-template #signIn>
  <div
    class="py-20 md:py-0 w-screen flex items-center justify-between flex-wrap md:flex-nowrap gap-6"
  >
    <div
      class="bg-white md:w-[500px] mx-auto flex flex-col items-center justify-center"
    >
      <img
        class="w-40 mb-8"
        src="../../assets/imgs/logo-1.png"
        alt="Pulse logo"
      />
      <p class="text-neutral-500 font-bold text-xl md:text-2xl md:mb-16">
        Create Your Account
      </p>

      <form class="space-y-4 w-full">
        <input
          type="text"
          name="name"
          placeholder="Email"
          class="bg-gray-50 p-4 rounded-xl w-full appearance-none outline-none mt-4"
        />
        <input
          type="text"
          name="phone"
          placeholder="Phone Number"
          class="bg-gray-50 p-4 rounded-xl w-full appearance-none outline-none mt-4"
        />
        <div
          class="flex items-center justify-between rounded-xl bg-gray-50 p-4"
        >
          <input
            [type]="show ? 'text' : 'password'"
            name="password"
            placeholder="Please enter your password"
            class="bg-transparent appearance-none outline-none"
          />
          <ng-container *ngIf="show; else hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              class="w-6 h-6 stroke-neutral-500 hover:cursor-pointer"
              (click)="togglePwd()"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </ng-container>

          <ng-template #hidden>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              class="w-6 h-6 stroke-neutral-500 hover:cursor-pointer"
              (click)="togglePwd()"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
              />
            </svg>
          </ng-template>
        </div>
        <select
          class="bg-gray-50 p-4 text-neutral-400 rounded-xl w-full appearance-nones outline-none mt-4"
        >
          <option disabled selected>Choose Country</option>
          <option>Kenya</option>
          <option>South Africa</option>
        </select>
        <div
          class="text-center bg-blue-900 text-white rounded-full w-full py-4"
          (click)="toggleLogin()"
        >
          Sign up
        </div>
        <p class="text-center text-neutral-500 text-sm" (click)="toggleAcc()">
          Already have an account?
          <span class="underline hover:cursor-pointer">Log in</span>
        </p>
      </form>
    </div>
    <div class="bg-blue-900 hidden md:block md:w-1/2">
      <img
        src="../../assets/imgs/water-pink.svg"
        alt="Illustration with pink"
      />
    </div>
  </div>
</ng-template>
