<div class="hidden md:block absolute right-0">
  <img [src]="topBar" alt="top banner" />
</div>
<nav
  [ngClass]="{ hidden: isMenuOpen }"
  class="flex flex-row items-center justify-between p-6 md:px-36 md:pt-28 lg:px-72"
>
  <a [routerLink]="'/'" (click)="topBar = homeTop">
    <img
      src="../../../../assets/imgs/logo-1.png"
      alt="Pulse Logo"
      class="w-32 md:w-60 md:h-20"
    />
    <!-- <p class="">Pulse</p> -->
  </a>

  <!-- toggler -->
  <div class="md:hidden">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="36"
      height="36"
      viewBox="0 0 24 24"
      class="fill-neutral-500 w-10 h-10"
      (click)="toggleMenu()"
    >
      <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
    </svg>
  </div>

  <ul class="hidden md:flex items-center gap-7 text-neutral-500 font-bold">
    <li
      class="hover:cursor-pointer"
      [routerLink]="'/'"
      (click)="topBar = homeTop"
    >
      <a>Home</a>
    </li>

    <li
      [routerLinkActive]="'border-b-white'"
      id="dropdownDefaultButton"
      class="transition-all duration-300 hover:cursor-pointer"
    >
      <a class="peer py-2 hover:cursor-pointer">About Us</a>
      <!-- the menu here -->
      <div
        class="hidden absolute rounded-md mt-0 md:-ml-8 peer-hover:flex hover:flex w-full md:w-[240px] flex-col bg-white border-zinc-200 text-neutral-500 divide-y-[1px] drop-shadow py-6 px-2"
        (click)="topBar = aboutTop"
      >
        <p
          *ngFor="let item of aboutUs"
          [routerLink]="'about/' + item.route"
          class="px-1 py-3 hover:bg-zinc-100 capitalize border-b border-b-zinc-200"
        >
          {{ item.title }}
        </p>
      </div>
    </li>

    <li
      class="hover:cursor-pointer"
      [routerLink]="'solutions'"
      (click)="topBar = aboutCsTop"
    >
      <a>Solutions</a>
    </li>

    <li
      class="hover:cursor-pointer"
      [routerLink]="'shop'"
      (click)="topBar = shopTop"
    >
      <a>Shop</a>
    </li>

    <li
      class="hover:cursor-pointer"
      [routerLink]="'contact'"
      (click)="topBar = aboutCsTop"
    >
      <a>Contact</a>
    </li>

    <li
      class="hover:cursor-pointer"
      [routerLink]="'auth'"
      class="px-8 py-3 rounded-full bg-yellow-500 hover:cursor-pointer"
      (click)="toggleLogin()"
    >
      <a>Login</a>
    </li>
  </ul>
</nav>
<!-- mobile -->
<ul
  [ngClass]="{ hidden: !isMenuOpen }"
  class="relative flex flex-col md:hidden items-center justify-center gap-10 bg-blue-900 text-white text-2xl font-bold h-screen"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="36"
    height="36"
    viewBox="0 0 24 24"
    class="absolute top-3 right-5 w-16 h-16 fill-white"
    (click)="toggleMenu()"
  >
    <path
      d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
    ></path>
  </svg>
  <li class="hover:cursor-pointer" [routerLink]="'/'" (click)="toggleMenu()">
    <a>Home</a>
  </li>

  <li
    [routerLinkActive]="'border-b-white'"
    id="dropdownDefaultButton"
    class="transition-all duration-300 hover:cursor-pointer"
  >
    <a class="peer py-2 hover:cursor-pointer">About Us</a>
    <!-- the menu here -->
    <div
      class="hidden absolute rounded-md mt-0 -ml-16 w-64 md:-ml-8 peer-hover:flex hover:flex md:w-[240px] peer-hover:z-50 flex-col bg-white border-zinc-200 text-neutral-500 divide-y-[1px] drop-shadow py-6 px-2"
    >
      <p
        *ngFor="let item of aboutUs"
        [routerLink]="'about/' + item.route"
        (click)="toggleMenu()"
        class="px-1 py-3 hover:bg-zinc-100 capitalize border-b border-b-zinc-200"
      >
        {{ item.title }}
      </p>
    </div>
  </li>

  <li
    class="hover:cursor-pointer"
    [routerLink]="'solutions'"
    (click)="toggleMenu()"
  >
    <a>Solutions</a>
  </li>

  <li class="hover:cursor-pointer" [routerLink]="'shop'" (click)="toggleMenu()">
    <a>Shop</a>
  </li>

  <li
    class="hover:cursor-pointer"
    [routerLink]="'contact'"
    (click)="toggleMenu()"
  >
    <a>Contact</a>
  </li>

  <li
    class="hover:cursor-pointer"
    [routerLink]="'auth'"
    class="px-8 py-3 rounded-full bg-yellow-500 text-blue-900 hover:cursor-pointer"
    (click)="toggleMenu()"
  >
    <a>Login</a>
  </li>
</ul>
