<section class="py-6 px-6 lg:px-72 md:px-36">
  <h1
    class="text-center text-neutral-500 font-bold text-3xl md:text-5xl mb-10 md:mt-10 md:mb-32"
  >
    About Us
  </h1>

  <!-- About plus network -->
  <div
    class="flex flex-col items-center justify-between gap-10 md:gap-8 md:flex-row mb-10 md:mb-32"
  >
    <div class="md:w-[558px] text-center md:text-start">
      <h2 class="text-neutral-500 font-bold text-2xl md:text-5xl mb-6 md:mb-8">
        About Pulse Networks
      </h2>
      <p class="text-black">
        Pulse Networks was founded by Joseph Wamicha in Cape Town in 2016 with
        the purpose of researching new methods of improving the efficiency and
        reliability of the utility sector in Africa. Pulse currently has a team
        of over 10 full-time and consultants and is entirely self-funded. The
        Pulse solution has been piloted in more than 20 locations across real
        estate, power and water utilities in Kenya and South Africa and is now
        ready for ultimate scale-up.
      </p>
    </div>
    <div class="md:absolute right-0 md:mt-52">
      <img src="../../../assets/imgs/elec-meter.webp" alt="Electric Meter" />
    </div>
  </div>
</section>

<section class="bg-gray-100 py-6 md:pt-36 px-6 lg:px-72 md:px-36">
  <h1
    class="text-center text-neutral-500 font-bold text-3xl md:text-5xl mb-10 md:mt-10 md:mb-32"
  >
    Our Team
  </h1>

  <div
    class="flex flex-col items-center gap-6 md:items-start justify-between md:flex-row"
  >
    <!-- <div class="flex flex-col gap-4 md:w-64 text-neutral-500">
      <img
        class="bg-blue-900 h-72 md:w-64 md:h-72"
        src="../../../assets/imgs/jon.webp"
        alt="Jon Bohmer"
      />
      <p class="text-2xl font-bold">Jon Bøhmer</p>
      <p class="text-2xl">Chairman</p>
      <p>
        Serial Entrepreneur and Inventor with 5 startups. His latest, Kyoto
        Group delivers thermal batteries and went public in 2021
      </p>
    </div> -->

    <div class="flex flex-col gap-4 md:w-64 text-neutral-500">
      <img
        class="bg-blue-900 h-72 md:w-64 md:h-72"
        src="../../../assets/imgs/joseph.webp"
        alt="Joseph Wamicha"
      />
      <p class="text-2xl font-bold">Joseph Wamicha</p>
      <p class="text-2xl">Managing Director</p>
      <p>
        MSc. Cape Town University Entrepreneur and HW/SW Developer with 15 years
        experience. Several startups and exits.
      </p>
    </div>

    <div class="flex flex-col gap-4 md:w-64 text-neutral-500">
      <img
        class="bg-blue-900 h-72 md:w-64 md:h-72"
        src="../../../assets/imgs/josephs.webp"
        alt="Joseph Kagicha"
      />
      <p class="text-2xl font-bold">Joseph Kagicha</p>
      <p class="text-2xl">Commercial Director</p>
      <p>
        - 18+ years’ experience with Banking Initiation and Expansion for
        Safaricom, Telkom / Orange and Equity Bank - Built the largest agency
        banking network in Africa) - Expansion and Growth, B2B Relationships
        Management - B.Comm. Sales & Marketing
      </p>
    </div>

    <div class="flex flex-col gap-4 md:w-64 text-neutral-500">
      <img
        class="bg-blue-900 h-72 md:w-64 md:h-72"
        src="../../../assets/imgs/josephs.webp"
        alt="Sadiq Matthews"
      />
      <p class="text-2xl font-bold">Sadiq Matthews</p>
      <p class="text-2xl">Director</p>
      <p>
        Entrepreneur and Businessman with varied business interests and over 30
        years experience.
      </p>
    </div>
  </div>
</section>

<section
  class="flex flex-col items-center justify-between md:py-20 md:flex-row"
>
  <div class="">
    <img src="../../../assets/imgs/smart-meter.webp" alt="Electric Meter" />
  </div>
  <div class="p-6 md:p-0 md:mr-36 lg:mr-72 md:w-[558px]">
    <h2 class="text-neutral-500 font-bold text-2xl md:text-5xl mb-6 md:mb-8">
      About Pulse Networks
    </h2>
    <p class="text-black">
      Pulse Networks was founded by Joseph Wamicha in Cape Town in 2016 with the
      purpose of researching new methods of improving the efficiency and
      reliability of the utility sector in Africa. Pulse currently has a team of
      over 10 full-time and consultants and is entirely self-funded. The Pulse
      solution has been piloted in more than 20 locations across real estate,
      power and water utilities in Kenya and South Africa and is now ready for
      ultimate scale-up.
    </p>
  </div>
</section>
