<section class="py-6 px-6 lg:px-72 md:px-36 2xl:px-72">
  <!-- <h1
    class="text-center text-neutral-500 font-bold text-3xl md:text-5xl mb-10 md:mt-10 md:mb-32"
  >
    About Us
  </h1> -->

  <!-- About plus network -->
  <div
    class="flex flex-col items-center justify-between gap-10 md:gap-8 md:flex-row mb-10 md:mb-32"
  >
    <div class="md:w-[758px] text-center md:text-start space-y-8 md:space-y-16">
      <div>
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-4xl mb-6 md:mb-6"
        >
          About Pulse Networks
        </h2>
        <p class="text-black">
          Pulses enable people and organisations to make informed decisions that
          improve their business operations and capabilities through real-time,
          real-world observations. At the heart of our organisation lies our
          belief that sensor observations paired with human insights, machine
          learning and Artifical Intelligence can unlock impact, meaning and
          collective intelligence. Enabling people and organisations to access
          this Artificial Intelligence in order to realise their potential is
          key to promote a prosperous future for all.
        </p>
      </div>
      <div>
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-4xl mb-6 md:mb-6"
        >
          Addressing IoT Challenges for Emerging Markets
        </h2>
        <p class="text-black">
          Current IoT solutions are prohibitively expensive and require
          specialist technical knowledge to implement. This is especially true
          for many small to medium scale environmental monitoring applications
          in the energy, water and agricultural sectors. The potential insights
          that could be gained from distributed sensor networks to inform
          decisions related to big national and global challenges such as
          climate change are thus not realised.
        </p>
      </div>
      <div>
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-4xl mb-6 md:mb-6"
        >
          Our Unique Value Proposition
        </h2>
        <p class="text-black">
          Pulse is positioning itself in the centre of an ecosystem that
          provides Data as a Service. We supply customers with hardware,
          software and technical expertise to build low cost LoRaWAN enabled
          sensor networks. Our innovative contribution lies in the provision of
          a trusted data access layer for connected devices, which powers
          platforms to access observations acquired by sensors. We see ourselves
          as a sensor network provider and intelligence platform enabler, with a
          mission to connect the world by making data acquisition for collective
          AI / ML seamless.
        </p>
      </div>
    </div>
    <div class="md:absolute right-0 md:mt-52">
      <img src="../../../assets/imgs/elec-meter.webp" alt="Electric Meter" />
    </div>
  </div>
</section>

<section
  class="flex flex-col items-center justify-between md:py-20 md:flex-row"
>
  <div class="">
    <img src="../../../assets/imgs/smart-meter.webp" alt="Electric Meter" />
  </div>
  <div class="p-6 md:p-0 md:mr-36 2xl:mr-72 md:w-[558px]">
    <h2 class="text-neutral-500 font-bold text-2xl md:text-5xl mb-6 md:mb-8">
      About Pulse Networks
    </h2>
    <p class="text-black">
      Pulse Networks was founded by Joseph Wamicha in Cape Town in 2016 with the
      purpose of researching new methods of improving the efficiency and
      reliability of the utility sector in Africa. Pulse currently has a team of
      over 10 full-time and consultants and is entirely self-funded. The Pulse
      solution has been piloted in more than 20 locations across real estate,
      power and water utilities in Kenya and South Africa and is now ready for
      ultimate scale-up.
    </p>
  </div>
</section>
