<footer
  class="flex flex-col justify-between py-9 px-6 md:px-36 2xl:px-72 bg-blue-900 text-white"
>
  <div
    class="flex flex-col gap-3 md:gap-0 md:flex-row items-center justify-between py-5 md:py-10"
  >
    <div class="flex flex-col gap-3 text-center md:text-start">
      <p class="text-xl hover:cursor-pointer" [routerLink]="'solutions'">
        Solution
      </p>
      <p class="text-xl hover:cursor-pointer" [routerLink]="'about/case-study'">
        Case studies
      </p>
      <a
        class="text-xl hover:cursor-pointer"
        href="https://shop.pulsenetworks.co.za/"
        target="_blank"
      >
        Shop
      </a>
    </div>
    <div class="flex flex-col gap-3 text-center md:text-start">
      <p class="text-xl hover:cursor-pointer" [routerLink]="'about/'">
        About us
      </p>
      <p
        class="text-xl hover:cursor-pointer"
        [routerLink]="'about/investor-relations'"
      >
        Investor relations
      </p>
      <p class="text-xl hover:cursor-pointer" [routerLink]="'contact'">
        Contact
      </p>
    </div>
    <div class="flex flex-col gap-3 text-center md:text-start">
      <p class="font-bold md:text-xl">Follow Us</p>
      <div class="flex gap-5">
        <a href="https://www.instagram.com/pulsenetai/" target="_blank">
          <img src="../../../../assets/imgs/icons/ig.svg" alt="Instagram" />
        </a>
        <a href="" target="_blank">
          <img src="../../../../assets/imgs/icons/fb.svg" alt="Facebook" />
        </a>
        <a
          href="https://www.linkedin.com/company/pulsenetworksai/"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            style="fill: rgba(255, 255, 255, 1)"
          >
            <path
              d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.339 18.337H5.667v-8.59h2.672v8.59zM7.003 8.574a1.548 1.548 0 1 1 0-3.096 1.548 1.548 0 0 1 0 3.096zm11.335 9.763h-2.669V14.16c0-.996-.018-2.277-1.388-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248h-2.667v-8.59h2.56v1.174h.037c.355-.675 1.227-1.387 2.524-1.387 2.704 0 3.203 1.778 3.203 4.092v4.71z"
            ></path>
          </svg>
        </a>
        <a href="https://twitter.com/pulseainet" target="_blank">
          <img src="../../../../assets/imgs/icons/tw.svg" alt="Twitter" />
        </a>
      </div>
    </div>
  </div>

  <div
    class="border-t border-t-white font-bold text-center text-xl md:w-full py-3 md:py-6"
  >
    © 2023 Pulse AI Networks
  </div>
</footer>
