<footer
  class="flex flex-col justify-between py-9 px-6 md:px-36 lg:px-72 bg-blue-900 text-white"
>
  <div
    class="flex flex-col gap-3 md:gap-0 md:flex-row items-center justify-between py-5 md:py-10"
  >
    <div class="flex flex-col gap-3 text-center md:text-start">
      <p class="text-xl hover:cursor-pointer" [routerLink]="'solutions'">
        Solution
      </p>
      <p class="text-xl hover:cursor-pointer" [routerLink]="'about/case-study'">
        Case studies
      </p>
      <p class="text-xl hover:cursor-pointer" [routerLink]="''">Shop</p>
    </div>
    <div class="flex flex-col gap-3 text-center md:text-start">
      <p class="text-xl hover:cursor-pointer" [routerLink]="'about/'">
        About us
      </p>
      <p
        class="text-xl hover:cursor-pointer"
        [routerLink]="'about/investor-relations'"
      >
        Investor relations
      </p>
      <p class="text-xl hover:cursor-pointer" [routerLink]="'contact'">
        Contact
      </p>
    </div>
    <div class="flex flex-col gap-3 text-center md:text-start">
      <p class="font-bold md:text-xl">Follow Us</p>
      <div class="flex gap-5">
        <a>
          <img src="../../../../assets/imgs/icons/ig.svg" alt="Instagram" />
        </a>
        <a>
          <img src="../../../../assets/imgs/icons/fb.svg" alt="Facebook" />
        </a>
        <a>
          <img src="../../../../assets/imgs/icons/tw.svg" alt="Twitter" />
        </a>
      </div>
    </div>
  </div>

  <div
    class="border-t border-t-white font-bold text-center text-xl md:w-full py-3 md:py-6"
  >
    © 2023 Pulse Networks Pty Ltd
  </div>
</footer>
