<section id="hero" class="md:mt-8 md:px-36 2xl:px-72">
  <swiper-container
    #swiper
    initial-slide="0"
    class="md:h-[500px] px-6 md:py-10"
  >
    <swiper-slide
      class="flex flex-col items-center gap-10 justify-between md:flex-row"
    >
      <div class="flex flex-col gap-6">
        <p
          class="text-blue-900 text-3xl text-center md:text-start md:text-5xl font-bold md:w-[472px] md:h-[202px]"
        >
          A Sustainable and innovative energy management solution for Africa
        </p>
        <p
          class="text-neutral-500 text-xl text-center md:text-start md:w-[382px] md:h-[63px]"
        >
          If you can’t measure it you can’t control it…metering for Africa.
        </p>

        <div
          [routerLink]="'demo'"
          class="flex items-center justify-center gap-3 rounded-[35px] bg-yellow-500 md:w-[274px] py-3 mt-4 hover:cursor-pointer"
        >
          <p class="md:text-2xl font-bold text-blue-900">Request a demo</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-blue-900"
          >
            <path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </div>
      </div>

      <div>
        <img
          src="../../../assets/imgs/home-1.webp"
          alt="Tap water illustration"
        />
      </div>
    </swiper-slide>

    <swiper-slide
      class="flex flex-col items-center gap-10 justify-between md:flex-row"
    >
      <div class="flex flex-col gap-6">
        <p
          class="text-blue-900 text-3xl text-center md:text-start md:text-5xl font-bold md:w-[472px] md:h-[202px]"
        >
          A Sustainable and innovative energy management solution for Africa
        </p>
        <p
          class="text-neutral-500 text-xl text-center md:text-start md:w-[382px] md:h-[63px]"
        >
          If you can’t measure it you can’t control it…metering for Africa.
        </p>

        <div
          [routerLink]="'demo'"
          class="flex items-center justify-center gap-3 rounded-[35px] bg-yellow-500 md:w-[274px] py-3 mt-4 hover:cursor-pointer"
        >
          <p class="md:text-2xl font-bold text-blue-900">Request a demo</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-blue-900"
          >
            <path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </div>
      </div>

      <div>
        <img
          src="../../../assets/imgs/home-2.webp"
          alt="Light bulb illustration"
        />
      </div>
    </swiper-slide>
  </swiper-container>
</section>

<section id="services" class="bg-gray-100 py-8 px-6 md:px-36 2xl:px-72">
  <h1
    class="text-center text-neutral-500 font-bold text-3xl md:text-5xl mb-6 md:mb-12"
  >
    Our Services
  </h1>

  <div
    class="flex items-start justify-between flex-wrap md:flex-nowrap gap-8 md:gap-16"
  >
    <!-- Energy metering -->
    <div
      class="flex flex-col gap-7 rounded-2xl bg-yellow-500 px-5 py-5 md:px-7 md:py-8"
    >
      <div
        class="flex items-center justify-center bg-opacity-30 rounded-2xl bg-white p-5 w-24"
      >
        <img src="../../../assets/imgs/icons/elec.svg" alt="Thunder icon" />
      </div>

      <div class="flex flex-col gap-4 text-black">
        <h1 class="font-bold md:text-2xl">Energy Metering</h1>
        <p class="2xl:w-[300px]">
          African utilities face challenges in improving their electricity
          infrastructure to enhance efficiency, reliability, and customer
          satisfaction.
        </p>
      </div>
    </div>
    <!-- Water metering -->
    <div
      class="flex flex-col gap-7 rounded-2xl bg-blue-500 px-5 py-5 md:px-7 md:py-8"
    >
      <div
        class="flex items-center justify-center bg-opacity-30 rounded-2xl bg-white p-5 w-24"
      >
        <img src="../../../assets/imgs/icons/water.svg" alt="Thunder icon" />
      </div>

      <div class="flex flex-col gap-4 text-white">
        <h1 class="font-bold md:text-2xl">Water Metering</h1>
        <p class="2xl:w-[300px]">
          Water smart metering refers to the use of digital technology to
          measure and monitor water consumption in homes and businesses.
        </p>
      </div>
    </div>

    <!-- Property management -->
    <div
      class="flex flex-col gap-7 rounded-2xl bg-orange-400 px-5 py-5 md:px-7 md:py-8"
    >
      <div
        class="flex items-center justify-center bg-opacity-30 rounded-2xl bg-white p-5 w-24"
      >
        <img src="../../../assets/imgs/icons/property.svg" alt="Thunder icon" />
      </div>

      <div class="flex flex-col gap-4 text-white">
        <h1 class="font-bold md:text-2xl">Property Management</h1>
        <p class="2xl:w-[300px]">
          The Smart Meter Energy and Water Monitoring solution technology stack
          enables Facility Managers to improve their overall efficiency of a
          building through optimising energy usage.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="feature"
  class="flex flex-col items-center justify-between md:flex-row bg-orange-400 text-white py-9 px-6 md:px-36 2xl:px-72"
>
  <div>
    <img src="../../../assets/imgs/features.webp" alt="Feature illustration" />
  </div>
  <div class="flex flex-col gap-10 md:w-[559px]">
    <h1 class="text-center text-3xl font-bold md:text-5xl md:text-start">
      Features of Pulse Smart Metering System
    </h1>
    <p class="text-center md:text-lg md:text-start">
      One of the key innovations of Pulse Smart Metering is its low cost and
      ease of installation. This makes the system accessible to a wider range of
      energy consumers, including those in rural areas with limited access to
      resources. In addition, the system reduces e-waste by making use of the 70
      million existing electricity meters in Africa. This approach is
      sustainable and cost-effffective, as it eliminates the need to replace
      existing meters and reduces the environmental impact of energy
      consumption.
    </p>
  </div>
</section>

<section
  id="metering"
  class="flex flex-col items-center justify-between md:flex-row py-9 px-6 md:px-36 2xl:px-72"
>
  <div class="flex flex-col gap-10 md:w-[559px]">
    <h1
      class="text-neutral-500 text-center text-3xl font-bold md:text-5xl md:text-start"
    >
      Pulse Smart Metering Components
    </h1>
    <p class="text-black text-center md:text-lg md:text-start">
      Pulse Smart Metering comprises several components, including smart meters,
      communication networks, and data management software. The smart meters are
      reliable and durable, able to withstand harsh environmental conditions,
      and highly secure, ensuring that the data collected is protected from
      unauthorized access. The system is also easy to install, and the data
      generated is easy to interpret, making it ideal for energy consumers in
      Africa.
    </p>
  </div>
  <div>
    <img
      src="../../../assets/imgs/smart-metering.webp"
      alt="Metering illustration"
    />
  </div>
</section>

<section
  id="cta"
  class="bg-yellow-500 flex flex-col items-center justify-between bg-cover bg-center md:flex-row p-9 md:h-52 px-6 md:px-36 2xl:px-72"
  style="background-image: url('../../../assets/imgs/cta.svg')"
>
  <h1
    class="text-white text-center text-3xl font-bold md:text-5xl md:text-start"
  >
    Metering for Resource Management
  </h1>

  <a
    href="../../../assets/Pulse Smart Metering Whitepaper.pdf"
    download
    class="flex items-center justify-center gap-3 rounded-[35px] bg-blue-900 md:w-[328px] p-3 mt-4 hover:cursor-pointer"
  >
    <p class="md:text-2xl font-bold text-white">Get the whitepaper</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      class="fill-white"
    >
      <path
        d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
      ></path>
    </svg>
  </a>
</section>
