<section class="py-8 md:py-20">
  <h1
    class="text-center text-neutral-500 font-bold text-3xl md:text-5xl mb-10 md:mb-32"
  >
    Case Studies
  </h1>
  <div class="flex flex-col gap-6 md:gap-28">
    <div class="flex flex-col items-center justify-between md:flex-row">
      <div class="p-6 md:p-0 md:ml-36 lg:ml-72 md:w-[558px]">
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-5xl mb-6 md:mb-8"
        >
          Energy Smart Metering
        </h2>
        <p class="text-black">
          African utilities face challenges in improving their electricity
          infrastructure to enhance efficiency, reliability, and customer
          satisfaction. Smart metering technologies offer significant benefits,
          but the high costs and complexities associated with replacing existing
          meters create barriers to adoption. This paper examines the benefits,
          challenges, and implications of networking existing meters as a
          cost-effective and sustainable alternative to traditional smart meters
          in the African context.
        </p>
        <div
          class="flex items-center justify-center gap-3 rounded-[35px] bg-blue-900 md:w-[328px] py-3 mt-4 hover:cursor-pointer"
        >
          <p class="md:text-xl font-bold text-white">Download whitepaper</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-white"
          >
            <path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </div>
      </div>

      <div class="">
        <img
          src="../../../../../assets/imgs/energy-meter.webp"
          alt="Kilowatt meter"
        />
      </div>
    </div>

    <div class="flex flex-col items-center justify-between md:flex-row">
      <div class="">
        <img
          src="../../../../../assets/imgs/water-smart-meter.webp"
          alt="Smart Water Meter"
        />
      </div>
      <div class="p-6 md:p-0 md:mr-36 lg:mr-72 md:w-[558px]">
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-5xl mb-6 md:mb-8"
        >
          Water Smart Metering
        </h2>
        <p class="text-black">
          In KenyaAlthough exact data is hard to come by, Kenya has about 1.5
          million household water connections supplied by 91 water service
          providers. In addition, water for household, industrial and
          agricultural use is accessed through an estimated 50,000 boreholes (of
          which 29,000 permits have been issued) and 4000 dams (of which less
          than 1000 have permits). At least half of these connections are not
          metered despite a legal framework that provides for all water
          extraction in the country to be monitored and fees paid to the Kenya
          Resources Authority. About half of the water service providers do not
          have billing systems; most of the other half have on-premises systems
          that do not generate online bills that are easily accessible to end
          consumers.
        </p>
        <div
          class="flex items-center justify-center gap-3 rounded-[35px] bg-blue-900 md:w-[328px] py-3 mt-4 hover:cursor-pointer"
        >
          <p class="md:text-xl font-bold text-white">Download whitepaper</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-white"
          >
            <path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-between md:flex-row">
      <div class="p-6 md:p-0 md:ml-36 lg:ml-72 md:w-[558px]">
        <h2
          class="text-neutral-500 font-bold text-2xl md:text-5xl mb-6 md:mb-8"
        >
          Landlord Solution
        </h2>
        <p class="text-black">
          The Smart Meter Energy and Water Monitoring solution technology stack
          enables Facility Managers to improve their overall efficiency of a
          building through optimising energy usage. This allows for better
          planning in order to save on energy and costs.
        </p>
        <div
          class="flex items-center justify-center gap-3 rounded-[35px] bg-blue-900 md:w-[328px] py-3 mt-4 hover:cursor-pointer"
        >
          <p class="md:text-xl font-bold text-white">Download whitepaper</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="fill-white"
          >
            <path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="">
        <img
          src="../../../../../assets/imgs/landlord.webp"
          alt="Apartment building"
        />
      </div>
    </div>
  </div>
</section>
